AVDOMAIN="{{ domain_name }}"
AVUSER="admin@{{ domain_name }}"
CREATEADMIN="admin@{{ domain_name }}"
CREATEADMINPASS="{{ admin_password }}"
CREATEDOMAIN="{{ domain_name }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
HOSTNAME="{{ hostname }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/common/lib/jvm/java"
LDAPAMAVISPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPPOSTPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPROOTPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPADMINPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPREPPASS="{{ zimbra_random_chars_2.stdout }}"
LDAPBESSEARCHSET="set"
LDAPDEFAULTSLOADED="1"
LDAPHOST="{{ hostname }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="{{ zimbra_mailboxd_memory.stdout }}"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="admin@{{ domain_name }}"
SMTPHOST="{{ hostname }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ domain_name }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ hostname }}"
SPELLURL="http://{{ hostname }}:7780/aspell.php"
STARTSERVERS="yes"
STRICTSERVERNAMEENABLED="TRUE"
SYSTEMMEMORY="{{ zimbra_system_memory.stdout }}"
TRAINSAHAM="ham.{{ zimbra_random_chars_1.stdout }}@{{ domain_name }}"
TRAINSASPAM="spam.{{ zimbra_random_chars_1.stdout }}@{{ domain_name }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USEKBSHORTCUTS="no"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.{{ zimbra_random_chars_1.stdout }}@{{ domain_name }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="{{ zimbra_random_chars_2.stdout }}"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="{{ zimbra_random_chars_2.stdout }}"
ldap_url="ldap://{{ hostname }}:389"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="{{ zimbra_random_chars_2.stdout }}"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/common/lib/jvm/java/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDNSMasterIP="8.8.8.8"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
zimbraDefaultDomainName="{{ domain_name }}"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="TRUE"
{% set ip_address = ansible_default_ipv4.address | default('127.0.0.1') %}
{% set netmask = ansible_default_ipv4.netmask | default('24') %}
{% if ip_address.startswith('10.') or
      (ip_address.startswith('172.') and (ip_address.split('.')[1] | int) in range(16, 32)) or
      ip_address.startswith('192.168.') %}
zimbraMtaMyNetworks="127.0.0.0/8 [::1]/128 {{ ip_address | regex_replace('\.\d+$', '.0') }}/24"
{% else %}
zimbraMtaMyNetworks="127.0.0.8 [::1]/128"
{% endif %}
zimbraPrefTimeZoneId="{{ timezone }}"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@{{ domain_name }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ domain_name }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraWebProxy="TRUE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
zimbra_server_hostname="{{ hostname }}"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-logger zimbra-mta zimbra-dnscache zimbra-snmp zimbra-store zimbra-apache zimbra-spell zimbra-memcached zimbra-proxy zimbra-drive zimbra-chat"