[Definition]
failregex = ^logger=(?:authn\.service|context) .*? remote_addr=<HOST> .*? error="too many consecutive incorrect login attempts for user - login for user temporarily blocked"
            ^logger=authn\.service .*? client=auth\.client\.\w+ .*? remote_addr=<HOST> .*? error="\[password-auth\.failed\] too many consecutive incorrect login attempts for user - login for user temporarily blocked"