[Unit]
Description=Zimbra Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/zimbra_exporter.py
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zimbra-exporter

[Install]
WantedBy=multi-user.target